<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <title>Example</title>
</head>
<body>
<th:block layout:fragment="content">
  <!-- 컨텐츠 -->
</th:block>

<!-- JavaScript 파일 -->
<script src="/js/signupEmail.js"></script>
</body>
</html>
